@import url(reset.css);
@import url(../fonts/fonts.css);

* {
    box-sizing: border-box;
}

.page-wrapper {
    background-color: #f4f4f7;
    padding: 0 130px;
    font-family: "Roboto";
    overflow: hidden;
}

/* Header */
.header {
    position: relative;
    margin-bottom: 100px;
    background: url(../images/jpg_png/img-header.jpg) no-repeat;
    max-height: 680px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.4;
    z-index: 1;
}


.header__heading {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 92px;
    max-height: 80px;
}

.header__main-content {
    margin: 0 200px;
}

.logo {
    margin-left: 40px;
    z-index: 2;
    pointer-events: none;
    width: 40px;
    height: 40px;
}

.logo-image {
    border-radius: 50%;
    object-fit: contain;
}

.header__nav {
    margin-left: 120px;
    max-height: 40px;
}

.header__menu-link {
    color: rgba(244, 244, 247, 0.5);
    margin-right: 50px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    display: inline-block;
    transition: .3s ease;
    cursor: pointer;
    z-index: 2;
    position: relative;
    letter-spacing: normal;
}

.header__menu-link:last-child {
    margin-right: 0;
}

.header__menu-link:hover {
    color: #fff;
}

.header__title {
    font-size: 60px;
    line-height: 65px;
    font-weight: 900;
    letter-spacing: -0.75px;
    color: #f4f4f7;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.header__description {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 80px;
    z-index: 2;
    color: rgba(244, 244, 247, 1);
}

.header__lang-list {
    margin-left: auto;
    margin-right: 60px;
    z-index: 2;
}

.header__lang-list input[type=radio] {
    display: none;
}

.header__lang-list label {
    cursor: pointer;
    color: rgba(244, 244, 247, 0.5);
    font-size: 15px;
    line-height: 20px;
    margin-right: 22px;
    z-index: 2;
    width: 40px;
    height: 40px;
}


.header__lang-list label:last-child {
    margin-right: 0;
}

/* Checked */
.header__lang-list input[type=radio]:checked+label {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 10px;
    color: rgba(244, 244, 247, 1);
}

.header__link-item {
    color: rgba(244, 244, 247, 0.5);
    display: inline-block;
    font-size: 20px;
    position: relative;
    line-height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 100px 25px 200px;
    z-index: 2;
    width: 580px;
    transition: .2s ease;
}

.header__link-item::after {
    content: url("../images/svg/ic-next.svg");
    color: #f4f4f7;
    width: 30px;
    height: 15px;
    right: 0;
    position: absolute;
    bottom: 0;
    transform: translate(-50px, -40px);
}

.header__link-item:hover {
    color: rgba(244, 244, 247, 1);
    background-color: rgba(244, 244, 247, 0.1);
}

/* section about us */
.about {
    background-color: #ffffff;
    padding: 90px 140px 100px 200px;
    margin-bottom: 100px;
}

.about__title {
    color: #2d2d42;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -0.75px;
    margin-bottom: 30px;
    font-weight: 900;
}

.about__description {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0;
    margin-bottom: 85px;
}

.about__items {
    display: flex;
    margin-bottom: 70px;
    max-height: 210px;
}

.about__item {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2d2d42;
    width: 240px;
}

.about__icon {
    width: 90px;
    height: 90px;
    background-color: #f47e3d;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}

.about__item+.about__item {
    margin-left: 60px;
}

.about__icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__item:nth-child(2) .about__icon::after {
    content: url("../images/svg/ic-hire.svg");
    transform: translate(-30%, -45%);
}

.about__item:first-child .about__icon::after {
    content: url("../images/svg/ic-project.svg");
    transform: translate(-50%, -40%);
}

.about__item:last-child .about__icon::after {
    content: url("../images/svg/ic-digital.svg");
}

.about__item:first-child>.about__icon {
    background-color: #63c9e0;
}

.about__item:nth-child(3)>.about__icon {
    background-color: #d04b9b;
}

.about__subtitle {
    font-weight: 900;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -0.75px;
    color: #c0c6c8;
    margin-bottom: 75px;
    max-width: 680px;
}

.about__container {
    display: flex;
}

.about__list {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    color: #2d2d42;
    flex: 1 0 380px;
}

.about__list {
    margin-right: 120px;
}

.about__list:last-child {
    margin-right: 0;
}

.about__point {
    margin-bottom: 30px;
    position: relative;
}

.about__point:first-child {
    margin-bottom: 20px;
}

.about__point::before {
    content: "";
    position: absolute;
    background-color: #64cae1;
    width: 30px;
    top: 50%;
    right: 100%;
    transform: translateX(-30px);
    height: 1px;
}

/* our work section */
.work{
    margin-bottom: 100px;
}
.work__heading {
    margin: 0 130px 90px 200px;
}

.work__title {
    margin-bottom: 25px;
    font-size: 60px;
    line-height: 65px;
    font-weight: 900;
    letter-spacing: -0.75px;
    color: #2d2d42;
}

.work__title-desc {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    color: #2d2d42;
}

.work__main-content {
    background-image: url("../images/jpg_png/vid-birdieeyes.jpg");
    background-repeat: no-repeat;
    width: 1180px;
    height: 600px;
    padding: 200px 0 20px 200px;
    margin-bottom: 20px;
}

.work__item {
    background-color: #64cae1;
    padding: 40px;
    color: #f4f4f7;
    width: 380px;
    min-height: 380px;
}

.work__subtitle {
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: 1.75px;
    margin-bottom: 40px;
}

.work__description {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    max-width: 380px;
}

.work__cards {
    display: flex;
    flex-wrap: wrap;
}

.work__card {
    max-width: 580px;
    color: #2d2d42;
    margin-bottom: 70px;
}
.work__card:nth-child(odd){
    margin-right: 20px;
}
.work__image{
    margin-bottom: 40px;
}
.work__article-title {
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.work__article-description{
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    max-width: 440px;
}