
* {
    box-sizing: border-box;
}

a {
    line-height: 0;
    color: inherit;
}

* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: #f4f4f7;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

.title {
    font-size: 60px;
    line-height: 65px;
    font-weight: 900;
    letter-spacing: -0.75px;
    color: #2d2d42;
}

.subtitle-text {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    color: #2d2d42;
    letter-spacing: 0;
}

.main-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    color: #2d2d42;
}

/* crop text if line>6 */
.cropped {
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.title-section__background {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    line-height: 0;
    filter: brightness(0.5);
}

.logo {
    flex-shrink: 0;
    position: relative;
}

.header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    left: 0;
    top: 0;
}

.title-section {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    padding: 172px 200px 0 200px;
}

.logo {
    margin-left: 40px;
    z-index: 2;
    pointer-events: none;
    width: 40px;
    height: 40px;
}

.logo__image {
    border-radius: 50%;
    object-fit: contain;
}

.nav {
    margin-left: 119px;
    max-height: 40px;
}

.menu-link {
    color: rgba(244, 244, 247, 0.5);
    margin-right: 46px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    display: inline-block;
    transition: color 0.3s;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.header__menu-link:last-child {
    margin-right: 0;
}

.lang-list {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    z-index: 2;
    flex-shrink: 0;
    color: rgba(244, 244, 247, 0.5);
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
}

.lang-point {
    padding: 10px;
    max-height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border 0.3s, color 0.3s;
    cursor: pointer;
}

.lang-point+.lang-point {
    margin-left: 14px;
}

.lang-point:hover, .lang-point--active {
    border: 1px solid rgba(244, 244, 247, 0.5);
    color: rgba(244, 244, 247, 1);
}

.menu-link:hover {
    color: #fff;
}

/* ================= end of header=======================  */
/* section title */
.title-wrapper {
    position: relative;
}

.title--main {
    max-height: 100%;
    color: #f4f4f7;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.header--description {
    display: inline-flex;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 80px;
    position: relative;
    color: rgba(244, 244, 247, 0.5);
    z-index: 2;
    max-width: 660px;
}


.header--link-item {
    color: rgba(244, 244, 247, 0.5);
    display: inline-block;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 23px 100px 25px 200px;
    z-index: 2;
    width: 580px;
    margin-left: -200px;
    transition: color 0.3s, background-color 0.3s;
}

.header--link-item::after {
    content: url("../images/svg/ic-next.svg");
    color: #f4f4f7;
    width: 30px;
    height: 15px;
    right: 0;
    position: absolute;
    bottom: 0;
    transform: translate(-50px, -40px);
}

.header--link-item:hover {
    color: rgba(244, 244, 247, 1);
    background-color: rgba(244, 244, 247, 0.1);
}

/* ====================end of section title ===================== */

/* section about us */
.about {
    background-color: #ffffff;
    padding: 90px 140px 72px 200px;
    margin-bottom: 100px;
}

.title--about {
    margin-bottom: 30px;
    max-width: 780px;
}

.subtitle-text--description {
    margin-bottom: 85px;

}

.about__list {
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.about__item {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2d2d42;
    width: 240px;
    height: 210px;
    flex-shrink: 0;
    margin-right: 60px;
}

.about__item:nth-child(3n) {
    margin-right: 0;
}

.about__icon {
    width: 90px;
    height: 90px;
    background-color: #f47e3d;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
}
/* for IE */
.about__icon img{
    max-height: 61px;
    max-width: 56px;
}
/* end */

.about__icon img {
    position: absolute;
    top: 20%;
    left: 20%;
    width: max-content;
    height: max-content;
    display: inline-block;
}

.about__icon--left {
    background-color: #63c9e0;
}

.about__icon--middle img {
    left: 30%;
}

.about__icon--right {
    background-color: #d04b9b;
}

.title--activity {
    color: #c0c6c8;
    margin-bottom: 75px;
    max-width: 680px;
}

.about__text {
    max-height: 90px;
}

.main-text--list {
    padding-left: 60px;
    margin-left: -60px;
    column-count: 2;
    column-gap: 160px;
}

.about--list:last-child {
    margin-right: 0;
    padding-left: 80px;
}

.about__point {
    margin-bottom: 30px;
    position: relative;
}

.about__point:first-child {
    margin-bottom: 20px;
}

.about__point::before {
    content: "";
    position: absolute;
    background-color: #64cae1;
    width: 30px;
    top: 50%;
    right: 100%;
    transform: translateX(-30px);
    height: 1px;
}

/* ====================== end of section about=============== */
/* our work section */
.work {
    margin-bottom: 100px;
}

.work__heading {
    margin: 0 130px 90px 200px;
    color: #2d2d42;
}

.title--work {
    margin-bottom: 25px;
}

.work__main-content {
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.work__background-image {
    position: absolute;
    left: 0;
    top: 0;
}

.work__item {
    background-color: rgb(100, 202, 225);
    padding: 40px;
    color: #f4f4f7;
    width: 380px;
    height: 380px;
    position: absolute;
    right: 51%;
    bottom: 15px;
}

.work__item p {
    color: inherit;
}

.work__subtitle {
    font-size: 15px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: 1.75px;
    margin-bottom: 40px;
}

.work__cards {
    display: flex;
    flex-wrap: wrap;
}

.work__card {
    width: 580px;
    color: #2d2d42;
    margin-bottom: 70px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

.work__card:hover, .news__article:hover {
    z-index: 3;
}

.work__card img {
    max-height: 320px;
}

.work__card:nth-of-type(odd) {
    margin-right: 20px;
}

.work__card:nth-last-child(1), .work__card:nth-last-child(2) {
    margin-bottom: 0;
}

.work__image {
    margin-bottom: 40px;
}

.work__article-title {
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.subtitle-text--article-description {
    max-width: 440px;
    height: 100%;
}

/* ========================= end of work section======================== */
/* work team */
.team {
    height: 600px;
    position: relative;
    margin-bottom: 93px;
}

.team__title {
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.team__background-image {
    position: absolute;
    left: 0;
    top: 0;

}

.team__card {
    background-color: #f4f4f7;
    padding: 40px;
    color: #2d2d42;
    width: 380px;
    min-height: 380px;
    position: absolute;
    left: 51%;
    bottom: 22px;
}

.text-card {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
}

/* ============================ end of team section============================= */
/* inside frontbyte section */
.inside {
    position: relative;
    margin-bottom: 72px;
}

.inside__heading {
    margin: 0 130px 0 200px;
}

.heading-section {
    margin: 0 130px 0 200px;
}

.title--inside {
    margin-bottom: 25px;
}

.inside__card-title {
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.subtitle-section {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}

.title--inside {
    margin-bottom: 30px;
}

.subtitle-text--inside {
    margin-bottom: 90px;
}

.inside__background {
    position: relative;
}

.inside__background img {
    width: 980px;
    height: 600px;
}


.inside__logo {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-bottom: 48px;
}

/* inside tabs */

.inside__card {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    background: #f4f4f7;
    padding: 40px 60px 0 0;
}

.subtitle-text--inside-description {
    margin-bottom: 55px;
}

.tabs {
    display: flex;
}

.tab {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 1px;
    background-color: #c0c6c8;
    transition: background-color 0.3s;
}
.tab:hover{
    background-color: #2d2d42;
}

.tab a {
    display: inline-block;
    line-height: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.tab--active {
    background-color: #2d2d42;
}

.tab+.tab {
    margin-left: 9px;
}

/* ======================= end of inside section ==================== */
/* news cards */
.news {
    margin-bottom: 100px;
}

.news__cards {
    display: flex;
    overflow: hidden;
}

.news-title {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.news__article {
    max-width: 280px;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    transition: transform 0.1s;
}

.news__article+.news__article {
    margin-left: 120px;
}

.description--card {
    margin-bottom: 20px;
}

.news__date {
    display: inline-block;
    color: #93a4a9;
    font-size: 15px;
    line-height: 20px;
}

/* ============================= end of news section ============================= */
/* footer */
.footer {
    background-color: #000;
    padding: 97px 30px 35px 200px;
    color: #f4f4f7;
    position: relative;
}

.footer *:not(.footer__background) {
    z-index: 2;
}

.footer__wrapper {
    position: relative;
}

.footer__background {
    position: absolute;
    z-index: 1;
    right: -25px;
    top: 64px;
    object-fit: scale-down;
}

.footer p, .footer h3 {
    color: inherit;
}

.footer__heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 78px;
    margin-left: 0;
}

.footer__link+.footer__link {
    margin-left: 25px;
}

.footer__link img {
    width: 30px;
    height: 30px;
}

.linkedin, .facebook, .instagram {
    transition: transform 0.3s, filter 0.1s;
}

.linkedin:hover {
    transform: scale(1.2);
    filter: drop-shadow(2px 0px 0 rgb(100, 202, 225));
}

.facebook:hover {
    transform: scale(1.2);
    filter: drop-shadow(2px 0px 0 rgb(66, 103, 178));
}

.instagram:hover {
    transform: scale(1.2);
    filter: drop-shadow(2px 0px 0 rgb(193, 53, 132));
}

.footer__cities {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 115px;
}

.footer__city {
    width: 380px;
    margin-right: 118px;
}

.footer__city:last-child {
    margin-right: 0;
}

.footer--title {
    margin-right: 115px;
    margin-bottom: 0;
    width: 380px;
    color: inherit;
}

.footer__subtitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__contacts {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    display: inline-block;
}

.footer__contacts a {
    display: inline-block;
}

.email-link {
    color: #64cae1;
    transition: color 0.3s;
}
.email-link:hover{
    color: rgb(0, 208, 255);

}

.phone-link {
    color: #f4f4f7;
    transition: color 0.3s;
}
.phone-link:hover{
    color: #64cae1;
}

.footer--description {
    display: inline-block;
    margin-bottom: 90px;
    max-width: 380px;
    z-index: 2;
    position: relative;
}

.footer__link-drop {
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.link-item {
    background-color: rgba(100, 202, 225, 0.911);
    color: inherit;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid transparent;
    padding: 25px 100px 25px 200px;
    width: 580px;
    transition: color 0.3s, background-color 0.3s;
}

.link-item::after {
    content: url("../images/svg/ic-next.svg");
    color: #f4f4f7;
    width: 30px;
    height: 15px;
    right: 0;
    position: absolute;
    bottom: 0;
    transform: translate(-50px, -40px);
}

.footer__link-drop a:hover {
    color: rgba(244, 244, 247, 1);
    background-color: rgba(100, 202, 225, 0.3);
}

.copyright {
    position: absolute;
    top: 50%;
    left: 100%;
    display: inline-block;
    width: 300px;
    transform: translate(119px, -50%);
    color: rgba(244, 244, 247, 0.5);
    font-size: 20px;
    line-height: 30px;
}